In [1]:
# Import pandas and other modules
import pandas as pd
# SQL Alchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, Float, String
from sqlalchemy.orm import Session

In [2]:
engine = create_engine('sqlite:///hawaii.sqlite')

In [3]:
Base = declarative_base()

In [4]:
class Measurement (Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Station (Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [5]:
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [6]:
csv_path = "data/clean_hawaii_stations.csv"
stations_df = pd.read_csv(csv_path)
stations_df = stations_df.rename(columns={'Unnamed: 0':'id'})
stations_df.head()

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
# load df to sqlite database table
stations_df.to_sql('stations',engine,if_exists='replace', index='False')
# Read the data back to make sure everything is copasetic
station_list = session.query(Station)
for station in station_list:
    print(f' {station.station}, {station.name}, {station.latitude}, {station.longitude}, {station.elevation}')

 USC00519397, WAIKIKI 717.2, HI US, 21.2716, -157.8168, 3.0
 USC00513117, KANEOHE 838.1, HI US, 21.4234, -157.8015, 14.6
 USC00514830, KUALOA RANCH HEADQUARTERS 886.9, HI US, 21.5213, -157.8374, 7.0
 USC00517948, PEARL CITY, HI US, 21.3934, -157.9751, 11.9
 USC00518838, UPPER WAHIAWA 874.3, HI US, 21.4992, -158.0111, 306.6
 USC00519523, WAIMANALO EXPERIMENTAL FARM, HI US, 21.33556, -157.71139, 19.5
 USC00519281, WAIHEE 837.5, HI US, 21.45167, -157.84888999999995, 32.9
 USC00511918, HONOLULU OBSERVATORY 702.2, HI US, 21.3152, -157.9992, 0.9
 USC00516128, MANOA LYON ARBO 785.2, HI US, 21.3331, -157.8025, 152.4

In [8]:
csv_path = "data/clean_hawaii_measurements.csv"
weather_df = pd.read_csv(csv_path)
weather_df.head()

   Unnamed: 0      station      date  prcp  tobs
0           0  USC00519397  1/1/2010  0.08    65
1           1  USC00519397  1/2/2010  0.00    63
2           2  USC00519397  1/3/2010  0.00    74
3           3  USC00519397  1/4/2010  0.00    76
4           4  USC00519397  1/6/2010   NaN    73

In [9]:
# load df to sqlite database table
weather_df = weather_df.rename(columns={'Unnamed: 0':'id'})
weather_df.to_sql('measurements',engine,if_exists='replace', index='False')